<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head.ejs") %>
</head>
<body>
    <nav>
        <%- include ("./partials/nav.ejs") %>
    <nav>

    <h1>New 'Dex Entry!</h1>

    <div id="new-container" class="container">
        <form action="/pokemon" method="POST">
            Name: <input type="text" name="name" value="NO DATA" onclick="this.select()">
            Type: <input type="text" name="type" value="NO DATA" onclick="this.select()">
            HP: <input type="text" name="stats[hp]" value="NO DATA" onclick="this.select()">
            Attack: <input type="text" name="stats[attack]" value="NO DATA" onclick="this.select()">
            Defense: <input type="text" name="stats[defense]" value="NO DATA" onclick="this.select()">
            SP Attack: <input type="text" name="stats[spattack]" value="NO DATA" onclick="this.select()">
            SP Defense: <input type="text" name="stats[spdefense]" value="NO DATA" onclick="this.select()">
            Speed: <input type="text" name="stats[speed]" value="NO DATA" onclick="this.select()">
        </form>
    </div>
</body>
</html>